{% extends 'main.html' %}

{% block content %}
<section class="about" id="nosotros">
    <h2 class="section-title">Nuestra Filosofía</h2>
    <div class="about-content">
        <p>En JAQUE, creemos que la elegancia es atemporal. Cada pieza es cuidadosamente diseñada para reflejar sofisticación y exclusividad.</p>
        <p>Nuestras colecciones fusionan la artesanía tradicional con diseños contemporáneos, creando prendas que trascienden tendencias y definen el verdadero estilo.</p>
    </div>

</section>


{% endblock content %}
